/*	*************************************************

	BASE

	************************************************* */

body{

	overflow-x: hidden;

	font-family: 'Roboto', sans-serif;

}

.nav{
	margin-top:10px;
}

h1, h2, h3{

	font-family: 'Montserrat', sans-serif;

}

img{
	padding-right: 30px;
}

h2, h3{
	color: #007bff;
	font-weight: bold;

}

.sm-container{
	max-width: 800px;
	line-height: 2em;
}

.fullscreen{

	height: 100vh;
	background: url(../images/background.jpg) no-repeat center;
}

.cs{
	background: url(../images/cs.jpg) no-repeat center;
	background-size: cover;
	text-shadow: 2px 2px black;
	font-size: 30px;
	
}

.engi{	
	background: url(../images/engineering.jpg) no-repeat center;
	background-size: cover;
	text-shadow: 2px 2px black;
	font-size: 30px;
	
}

.ai{
	background: url(../images/ai.jpg) no-repeat center;
	background-size: cover;
	text-shadow: 2px 2px black;
	font-size: 30px;

}

.part{

	height: 200px;
	
	line-height: 200px;
	
	list-style: none;
	
	
}

#form-wrapper{
	font-size: 1.5rem;

	text-align: center;

	color: #007bff;
}

.bg-secondary .container .col-12{

	margin: 0;

}

.vertical h3{
	color: white;
}

.que{

	padding: 0;

	line-height: 4rem;

}



.strong{

	text-align: center;

}

.left{
	text-align: left;
}





#submit_button{

	margin: 50px 0;

}



footer p{

	line-height: 100px;

	margin-top: 100px;
	margin-bottom: 0;
	font-size: 1.5em;

	font-family:  'Montserrat', sans-serif;

}

/*	*************************************************

	LAYOUT

	************************************************* */

.vertical{

	padding-top: 500px;

}

.small{
	width: 900px;
}

.top{

	margin: 100px 0 50px 0;

}



