/*	*************************************************

	BASE

	************************************************* */

body{

	overflow-x: hidden;

	font-family: 'Roboto', sans-serif;

}



h1, h2, h3{

	font-family: 'Montserrat', sans-serif;

}



h2, h3{

	font-weight: bold;

}



.fullscreen{

	height: 100vh;
	background: url(../images/background.jpg) no-repeat center;
}

.cs{
	background: url(../images/cs.jpg) no-repeat center;
	background-size: cover;
	text-shadow: 2px 2px black;
	font-size: 30px;
	
}

.engi{	
	background: url(../images/engineering.jpg) no-repeat center;
	background-size: cover;
	text-shadow: 2px 2px black;
	font-size: 30px;
	
}

.ai{
	background: url(../images/ai.jpg) no-repeat center;
	background-size: cover;
	text-shadow: 2px 2px black;
	font-size: 30px;

}

.part{

	height: 200px;
	
	line-height: 200px;
	
	list-style: none;
	
	
}



.bg-secondary .container .col-12{

	margin: 0;

}



.que{

	padding: 0;

	line-height: 4rem;

}



.strong{

	text-align: center;

	

}



#contact_form{

	

}



#submit_button{

	margin: 50px 0;

}



footer p{

	line-height: 150px;

	margin: 0;

	font-size: 1.5em;

	font-family:  'Montserrat', sans-serif;

}

/*	*************************************************

	LAYOUT

	************************************************* */

.vertical{

	padding-top: 500px;

}



.top{

	margin: 100px 0 50px 0;

}



